:root {
  --brightest-bg-color: hsl(39, 100%, 60%);
  --brighter-bg-color: hsl(39, 100%, 40%);
  --dark-bg-color: hsl(39, 100%, 10%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-family: monospace, sans-serif, helvetica;
  font-size: 18px;
}

/* ⬇️⬇️⬇️ NAVBAR ⬇️⬇️⬇️ */
.navbar {
  position: fixed;
  display: flex;
  flex-direction: column-reverse;
  /* flex-wrap: wrap; */
  /* place-items: center; */
  z-index: 10;
  width: 100%;
  background-size: 400% 400%;
  /* background: rgba(255, 255, 255, 0.5); */
  background: transparent;
  transform: translate(90%, -75%);
  transition-duration: 0.5s;
}
.navbar span:not(:first-child) {
  display: block;
  text-align: center;
  padding: 1rem;
  width: 100%;
}
.navbar span:first-child {
  place-self: start;
  position: fixed;
  /* left: 0.5rem; */
  /* bottom: 0.5rem;
  left: 1rem; */
  padding: 0.5rem;
  /* z-index: 10; */
}
.navbar span:hover {
  /* background: rgba(255, 255, 255, 0.6); */
  outline: 1px groove;
}
.displayNav {
  border-bottom-left-radius: 0%;
  background: rgba(255, 255, 255, 0.5);
  transform: translate(0px);
}
/* ⬇️⬇️⬇️ INTRODUCTION ⬇️⬇️⬇️ */
section.introduction {
  display: flex;
  flex-direction: column-reverse;
  place-items: center;
  place-content: center;
  gap: 1.5rem;
  padding: 5rem 1.5rem;
  margin: auto;
  color: white;
  font-weight: bolder;
  background: linear-gradient(
    45deg,
    var(--brightest-bg-color),
    var(--brighter-bg-color),
    yellow
  );
  background-size: 400% 400%;
  animation-name: colorSwap;
  animation-duration: 7s;
  animation-iteration-count: infinite;
}
section.introduction article {
  max-width: 500px;
}

section.introduction article span {
  display: inline-block;
  animation: typing 2s steps(10) infinite,
    blink 0.4s step-end infinite alternate;
  border-right: 5px solid white;
  overflow: hidden;
  white-space: nowrap;
  letter-spacing: 0.2rem;
  /* max-width: 300px; */
  max-width: clamp(100px, 15rem, 300px);
}
section.introduction div.introImgBox {
  padding: 0.5rem;
  max-width: 100%;
  border: 1px solid white;
  border-radius: 18% 18% 100% 100%;
  position: relative;
  overflow: hidden;
  z-index: 1;
}
div.introImgBox::after {
  content: " "; /* unicode "ALT + 255"  */
  background: white;
  position: absolute;
  border-radius: 50%;
  z-index: -1;
  transform: scale(0.1);
}
div.introImgBox:hover:after {
  transform: scale(55);
  transition-duration: 1s;
}
div.introImgBox img {
  max-width: 100%;
  /* max-height: 600px; */
  height: clamp(300px, 15rem, 650px);
  border: 1px solid white;
  border-radius: 18% 18% 100% 100%;
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

@keyframes typing {
  from {
    width: 0%;
  }
  50% {
    width: 100%;
  }
  100% {
    width: 0%;
  }
}

@keyframes colorSwap {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* ⬇️⬇️⬇️ INTRODUCTION END ⬇️⬇️⬇️ */

/* ⬇️⬇️⬇️ SKILLS  ⬇️⬇️⬇️ */
section.boxContainer {
  display: grid;
  grid-template-columns: repeat(1, minmax(200px, 350px));
  place-items: center;
  place-content: center;
  gap: 1rem;
  margin: 2rem 0;
}
section.boxContainer h1.skillHeader {
  border-bottom: 1px solid;
  grid-column: 1/-1;
}
section.boxContainer .singleBox {
  display: grid;
  place-content: center;
  text-align: center;
  position: relative;
  overflow: hidden;
  padding: 1rem;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 5%;
  z-index: 1;
  max-height: 250px;
  height: 250px;
  max-width: 200px;
  width: 100%;
}

section.boxContainer .singleBox:hover {
  transform: scale(1.1);
  transition-duration: 0.5s;
}
section.boxContainer .singleBox::after {
  /* filter: blur(0.1rem); */
  background: var(--brightest-bg-color);
  content: " "; /* unicode "ALT + 255"  */
  position: absolute;
  top: 0%;
  left: 50%;
  transform: scale(0.1);
  border-radius: 50%;
  z-index: -1;
}
section.boxContainer .singleBox:hover:after {
  transform: scale(55);
  transition-duration: 0.5s;
}

section.boxContainer .singleBox img {
  max-height: 100px;
  /* max-width: 100%; */
}

/* ⬇️⬇️⬇️ SKILLS END ⬇️⬇️⬇️ */

/******************** 🟣 MEDIUM DEVICES 🟣 *************************/
@media only screen and (min-width: 768px) {
  /* ⬇️⬇️⬇️ INTRODUCTION  ⬇️⬇️⬇️ */
  section.introduction {
    font-size: 1.2rem;
    flex-direction: row;
  }
  /* ⬇️⬇️⬇️ INTRODUCTION END ⬇️⬇️⬇️ */

  /* ⬇️⬇️⬇️ SKILLS  ⬇️⬇️⬇️ */
  section.boxContainer {
    grid-template-columns: repeat(2, minmax(200px, 350px));
  }
  /* ⬇️⬇️⬇️ SKILLS END ⬇️⬇️⬇️ */
}

/******************** 🟣 LARGE DEVICES 🟣  *********************
*
*
*
*/
@media only screen and (min-width: 1200px) {
  /* ⬇️⬇️⬇️ INTRODUCTION  ⬇️⬇️⬇️ */
  section.introduction {
    font-size: 1.5rem;
    flex-direction: initial;
  }

  /* ⬇️⬇️⬇️ SKILLS  ⬇️⬇️⬇️ */
  section.boxContainer {
    grid-template-columns: repeat(3, minmax(200px, 350px));
  }
}
/******************** 🟣 LARGE DEVICES 🟣 END *************************
**
**
**
**
**/
