:root {
  --brightest-bg-color: hsl(39, 100%, 60%);
  --brighter-bg-color: hsl(39, 100%, 40%);
  --dark-bg-color: hsl(39, 100%, 10%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-family: monospace, sans-serif, helvetica;
  font-size: 18px;
  scroll-behavior: smooth;
}

/* "colorFulLines" is the style for span tags that are appended in the body element with js */
.colorFulLines {
  display: inline-block;
  position: fixed;
  height: 0.1px;
  width: 0.1px;
  padding: 1rem;
  transition-duration: 1s;
  z-index: -1;
  border-radius: 100%;
  opacity: 0.2;
}

/* ⬇️⬇️⬇️ NAVBAR ⬇️⬇️⬇️ */
.cross-button {
  cursor: pointer;
  color: var(--dark-bg-color);
  font-weight: bolder;
  background: rgba(255, 255, 255, 0.7);
  border-radius: 20%;
  padding: 0.5rem;
  height: 2.5rem;
  width: 2rem;
  position: fixed;
  top: 0;
  right: 0%;
  z-index: 3;
}

.navbar {
  display: flex;
  flex-direction: column-reverse;
  position: fixed;
  background: rgba(255, 255, 255, 0.7);
  background-size: 400% 400%;
  width: 0%;
  border-radius: 100%;
  /* transform: translate(200%, -300%) scale(0); */
  transform: translate(300%, 100%) scale(0);
  transition-duration: 0.5s;
  z-index: 2;
}
.navbar span {
  text-align: center;
  padding: 1rem;
  width: 100%;
}
.navbar span:hover {
  outline: 1px groove;
}
.displayNav {
  width: 100%;
  transform: translate(0%, 0%) scale(1);
  border-radius: 0%;
}

/* ⬇️⬇️⬇️ INTRODUCTION ⬇️⬇️⬇️ */
section.introduction {
  display: flex;
  flex-direction: column-reverse;
  place-items: center;
  place-content: center;
  gap: 1.5rem;
  padding: 5rem 1.5rem;
  margin: auto;
  color: white;
  font-weight: bolder;
  background: linear-gradient(
    45deg,
    var(--brightest-bg-color),
    var(--brighter-bg-color),
    yellow
  );
  background-size: 400% 400%;
  animation-name: colorSwap;
  animation-duration: 7s;
  animation-iteration-count: infinite;
}
section.introduction article {
  max-width: 500px;
}

section.introduction article span {
  display: inline-block;
  animation: typing 2s steps(12) infinite,
    blink 0.4s step-end infinite alternate;
  border-right: 5px solid white;
  letter-spacing: 0.2rem;
  overflow: hidden;
  white-space: nowrap;
  /* max-width: clamp(100px, 16.5rem, 300px); */
  max-width: clamp(100px, 100%, 250px);
}
section.introduction div.introImgBox {
  padding: 0.5rem;
  max-width: 100%;
  min-width: fit-content;
  border: 1px solid white;
  border-radius: 18% 18% 100% 100%;

  position: relative;
  overflow: hidden;
  z-index: 1;
}
div.introImgBox::after {
  content: " "; /* unicode "ALT + 255"  */
  background: white;
  position: absolute;
  border-radius: 50%;
  z-index: -1;
  transform: scale(0);
  transition-duration: 1s;
}
div.introImgBox:hover:after {
  transform: scale(55);
}
div.introImgBox img {
  max-width: 100%;
  /* min-width: 100px; */
  height: clamp(300px, 15rem, 650px);
  border: 1px solid white;
  border-radius: 18% 18% 100% 100%;
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

@keyframes typing {
  from {
    width: 0%;
  }
  50% {
    width: 100%;
  }
  100% {
    width: 0%;
  }
}

@keyframes colorSwap {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* ⬇️⬇️⬇️ INTRODUCTION END ⬇️⬇️⬇️ */

/* ⬇️⬇️⬇️ SKILLS  ⬇️⬇️⬇️ */
section.boxContainer {
  display: grid;
  grid-template-columns: repeat(1, minmax(200px, 350px));
  place-items: center;
  place-content: center;
  gap: 1rem;
  margin: 2rem 0;
}
section.boxContainer h1.skillHeader {
  border-bottom: 1px solid;
  grid-column: 1/-1;
}
section .singleBox {
  display: grid;
  place-content: center;
  text-align: center;
  position: relative;
  overflow: hidden;
  padding: 1rem;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 5%;
  z-index: 1;
  max-height: 250px;
  height: 250px;
  /* max-width: clamp(100px, 100%, 200px); */
  max-width: 200px;
  width: 100%;
  transition-duration: 0.5s;
}

section.boxContainer .singleBox:hover {
  transform: scale(1.1);
}

/* "::after" pseudo element used for hover effect */
section.boxContainer .singleBox::after {
  /* filter: blur(0.1rem); */
  background: var(--brightest-bg-color);
  content: " "; /* unicode "ALT + 255"  */
  position: absolute;
  top: 0%;
  left: 50%;
  transform: scale(0.1);
  border-radius: 50%;
  z-index: -1;
  transition-duration: 0.5s;
}
section.boxContainer .singleBox:hover:after {
  transform: scale(55);
}

section.boxContainer .singleBox img {
  max-height: 100px;
  /* max-width: 100%; */
  
}

/* ⬇️⬇️⬇️ SKILLS END ⬇️⬇️⬇️ */

/* ⬇️⬇️⬇️ PROJECTS ⬇️⬇️⬇️ */
.projects {
  display: flex;
  place-items: center;
  overflow-x: scroll;
  width: 100%;
  gap: 1rem;
padding: 0rem 0 2rem 0;
}
section.projectsContainer .skillHeader {
  text-align: center;
  margin: auto;
  margin-bottom: 3rem;
  border-bottom: 1px solid;
max-width: clamp(100px, 180px, 250px);
}
section.projectsContainer .singleProjectBox img{
  height:250px;
}
section.projectsContainer .singleProjectBox {
  text-align: center;
  place-content: center;
  place-items: center;
  place-self: center;
  margin:auto;
  cursor:pointer;
}

/* ⬇️⬇️⬇️ PROJECTS END ⬇️⬇️⬇️ */

/******************** 🟣👆 SMALL DEVICES 👆 🟣 *************************/
/******************** 🟣 MEDIUM DEVICES 🟣 *************************/
@media only screen and (min-width: 768px) {
  /* ⬇️⬇️⬇️ INTRODUCTION  ⬇️⬇️⬇️ */
  section.introduction {
    font-size: 1.2rem;
    flex-direction: row;
  }
  /* ⬇️⬇️⬇️ INTRODUCTION END ⬇️⬇️⬇️ */

  /* ⬇️⬇️⬇️ SKILLS  ⬇️⬇️⬇️ */
  section.boxContainer {
    grid-template-columns: repeat(2, minmax(200px, 350px));
  }
  /* ⬇️⬇️⬇️ SKILLS END ⬇️⬇️⬇️ */
}

/******************** 🟣 LARGE DEVICES 🟣  *********************
*
*
*
*/
@media only screen and (min-width: 1200px) {
  /* ⬇️⬇️⬇️ NAVBAR  ⬇️⬇️⬇️ */
  .cross-button {
    display: none;
  }
  .navbar {
    flex-direction: row;
    transform: translate(0%);
    border-radius: 0%;
    width: 100%;

    background: linear-gradient(
      45deg,
      var(--brighter-bg-color),
      var(--brightest-bg-color),
      var(--brighter-bg-color)
    );
    background-size: 400% 400%;
    animation-name: colorSwap;
    animation-duration: 6s;
    animation-iteration-count: infinite;
  }
  .navScrollEffect {
    background: transparent;
  }
  /* ⬇️⬇️⬇️ INTRODUCTION  ⬇️⬇️⬇️ */
  section.introduction {
    font-size: 1.5rem;
    flex-direction: initial;
  }

  section.introduction article span {
    max-width: clamp(100px, 16.5rem, 300px);
  }
  /* ⬇️⬇️⬇️ SKILLS  ⬇️⬇️⬇️ */
  section.boxContainer {
    grid-template-columns: repeat(3, minmax(200px, 350px));
  }
}
/******************** 🟣 LARGE DEVICES 🟣 END *************************
**
**
**
**
**/
